#TB_window {
  background: #000;
  border: 2px solid #333;
  color:#ccc;
  text-align:left; width:auto;
}
#TB_title{
  background-color:#333;
  font-size: 12px;
  height:27px;
}
#TB_title a {
  color: #FFF;
}
#TB_title a:hover {
  color: #ccc;
}
#TB_ajaxWindowTitle{
  float:left;
  margin-bottom:1px;
  padding:7px 0 5px 10px;
}
#TB_closeAjaxWindow{
  float:right;
  margin-bottom:1px;
  padding:7px 10px 5px 0;
  text-align:right;
}
#TB_ajaxContent{
  clear:both;
  margin: 2px;
  overflow:auto;
  text-align:center;
}
